/* Login & Signup Pages */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 0 auto;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #29a121;
  }
  